<!DOCTYPE html>
<html>
<head>
<title>Raspberry Room Reservations</title>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/indexStyle.css') }}">
</head>

<body>
<main>
<h1 style="text-align: center; font-family:  "Helvetica", sans-serif;">Raspberry Room Reservation System </h1>

<div>
	<button type="button" onclick="create_onclick()">Create Reservation</button>	
	<script type="text/javascript">
			function create_onclick() 
			{
				var addr = '{{ iaddress }}';
				var urlweb = 'http://'+addr+':9000/createEvent';
			    window.location.href = urlweb;
			}
	</script>
</div>
<div>
	<button type="button" onclick="update_onclick()">Update/Delete Reservation</button>	
	<script type="text/javascript">
				function update_onclick() 
				{
					var addr = '{{ iaddress }}';
					var urlweb = 'http://'+addr+':9000/updateEvent';
				    window.location.href = urlweb;
				}
		</script>
</div>
<script type="text/javascript" >


</script>
</body>
</html>