<!DOCTYPE html>
<html>
<script type="text/javascript" src="{{ url_for('static', filename='display.js') }}"></script>

<head>
<title>Raspberry Room Reservations</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/newStyle.css') }}">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="{{ url_for('static', filename='display.js') }}"></script>
</head>

<body>
<main>
<h1 style="text-align: center; font-family:  "Helvetica", sans-serif;">Raspberry Room Reservation System </h1>
<div class="Row">
	<div class="Column">
		 <h2>Room Selection</h2> 
		<form>
          <p>
             <label>Building:</label>
             <select id = "myBuilding">
               <option value = "Squires">Squires</option>
             </select>
          </p>
			<p>
             <label>Room:</label>
             <select id = "myRoom" >
             	<option value = "Blue Ridge Conference Room">Blue Ridge Conference Room</option>
					<option value = "Brush Mountaitn A">Brush Mountain A</option>
					<option value = "Brush Mountain B">Brush Mountatin B</option>
					<option value = "Brush Mountain A&B">Brush Mountain A&B</option>
               <option value = "Jamestown Room">Jamestown Room</option>
               <option value = "Monterrey Tec Conference Room">Monterrey Tec Conference Room</option>
					<option value = "Mountain Lake Conference Room">Mountain Lake Conference Room</option>
					<option value = "Room 116">Room 116</option>
					<option value = "Room 217">Room 217</option>
					<option value = "Room 219">Room 219</option>
             	<option value = "Room 234">Room 234</option>
             	<option value = "Room 236">Room 236</option>
        			<option value = "Room 238">Room 238</option>     
      			<option value = "Room 300">Room 300</option>       
      			<option value = "Room 342">Room 342</option>
      			<option value = "Shenandoah Conference Room">Shenandoah Conference Room</option>
      			<option value = "Williamsburg Room">Williamsburg Room</option>
      			<option value = "Yorktown Room">Yorktown Room</option>
             </select>
          </p>
          <p >
				<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
				<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
					<script type="text/javascript">
							$(document).ready(function() {
							// Datepicker Popups calender to Choose date.
							$(function() {
							$("#datepicker").datepicker();
							// Pass the user selected date format.
							$("#format").change(function() {
							$("#datepicker").datepicker("option", "dateFormat", $(this).val());
							});
							});
							});
					</script>
				<label> Date  :</label>
				<input type="text" name="selected_date" id="datepicker" required/>
          </p>
          Time (24hr format):
          <p> From:
					<input id="fromTime"type="time" name="myTime" class="time-mm-hh" step="60" required/>
						To:
				<input id="toTime" type="time" name="myTime2" class="time-mm-hh" step="60" required/>
				
				<script type="text/javascript">
				    $("input[name='myTime']").timeInput(); // 15 min intervals from 6:00 am to 3:00 pm
				    $("input[name='myTime2']").timeInput(); // 15 min intervals from 6:00 am to 3:00 pm
				</script>
			</p>
			<p>
				<button type="button" onclick="onSubmitClick()">Submit Reservation</button>			
			</p>
    </form>
	</div>
	<div class="Column">
		 <h2>Contact Information</h2>
		 <form>
			First name:<br>
		  <input type="text" id="firstname" placeholder="e.g. John" required>
		  <br>
		  Last name:<br>
		  <input type="text" id="lastname" placeholder="e.g. Smith" required>
		  <br>
		  Phone Number:<br>
		  <input type="text" id="phoneNumber" placeholder="+1xxxxxxxxxx" required>
		  <br><br>	 
		 </form>
	</div>
	<div class="Column">
		<h2 >Calendar</h2>
		<div>
			<iframe src="https://calendar.google.com/calendar/b/3/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ece4564team14%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
</div>
<script src="{{url_for('static', filename='display.js')}}"></script>
<script type="text/javascript">
	function onSubmitClick() {
		var building = document.getElementById('myBuilding').value;
		var room  = document.getElementById("myRoom").value;	
		var date = document.getElementById("datepicker").value;
		var fromTime = document.getElementById("fromTime").value;		
		var toTime = document.getElementById("toTime").value;
		var firstName = document.getElementById("firstname").value;
		var lastname = document.getElementById("lastname").value;
		var phoneNumber = document.getElementById("phoneNumber").value;
		var f = document.getElementsByTagName('form')[0];
		if (f.checkValidity()) {
			var alertString = "																					Your Reservation Information: \n";
			alertString +=		"Building: "+ building + "\n";
			alertString +=		"Room: "+ room + "\n";
			alertString +=		"Date: "+ date + "\n";
			alertString +=		"From: "+ fromTime + "\n";
			alertString +=		"To: "+ toTime + "\n";
			alertString +=		"First Name: "+ firstName + "\n";
			alertString +=		"Last Name: "+ lastname + "\n";
			alertString +=		"Phone Number: "+ phoneNumber + "\n";
			if (confirm(alertString) == true) {
				var json_entry = {"phone_number": phoneNumber, "first": firstName, "last": lastname, "date": date, "fromTime": fromTime, "toTime": toTime, "room": room};
				var entry = JSON.stringify(json_entry);
				//include url to post to here TODO
				var baddr = 'http://'+'{{ baddress }}'+':5000';
				var alertmessage;
				console.log('posting data');
				postData(`${baddr}/reservations`, entry, (err, data) => {
					if (err) {
						console.log(err);
						alertmessage = "Oh no! There seems to be a problem.";
						alert( alertmessage);
					}
					else {
						console.log('else statement');
						alertmessage = "Success! A notification will be sent to the number provided."
						alert( alertmessage);
						
					}
					
				});	
				var addr = '{{ iaddress }}';
				var urlweb = 'http://'+addr+':9000/';
				window.location.href = urlweb; 
			}											
		} 
		else {
			alert("Fill out all of the fields!");
		}
		   
}
</script>
<div class="Row">
</div>
</main>
</body>
</html>